<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          background-color: linen;
        }
        
        h1 {
          color: maroon;
          margin-left: 40px;
        }

        
        </style>
</head>
<body>

    <form action="mailto:karthikraja@gmail.com" method="post" enctype="text/plain" >
        Reason for report:<input type="text" name="Enter reason for reporting"><br>
        <input type="radio" name="problem" id="fake" value="Fake pet details">
        <label for="html">Fake pet details</label><br>
            <input type="radio" name="problem" id="abusive" value="Abusive customer">
        <label for="css">Abusive customer</label><br>
            <input type="radio" name="problem" id="sus" value="The user seems suspicious">
        <label for="javascript">The user seems suspicious</label><br>
            <input type="submit" name="submit" value="Submit">
        </form>
</body>
</html>