*{
    font-family: sans-serif;
}
body{
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size:cover;
    }
.form-control { width:295px !important;
background-image: url(images/searchbar.jpg);
color: black;
background-blend-mode: difference;
}
#srch-term1 { margin-right:10px;
 }
 #srch-term2 { margin-right:10px;
 }
 #srch-term3{ margin-right:0px;
    border-style: double;
 }
.btn { margin-left:10px; }
.box{
    display: flex;
    padding: 60px 130px;
    margin-top: 70px;
}
.navbar-form{
    width: fit-content;
    height:max-content;
    display: flex;
    flex-direction: row;
}
.input-group-add-on
{
    display: flex;
    margin-left: 120px;
}
nav {
    background-color: rgb(172, 172, 172);
    overflow: hidden;
}
.databox{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: space-between;
    
}
.akp{
    margin-top: 80px;
    text-align: center;
    font-size:x-large;
    font-family: sans-serif;
    padding: 25px 30px;
    color: rgb(0, 0, 0);   
}
.whole{
    display:flex;
    flex-wrap:wrap;  
}
.wrapper{
     padding:10px;
     flex: 50%;
}
.req-div{
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

