body{
        background-color:thistle;
        background-repeat: no-repeat;
        background-size:cover;
    }
.form-control { width:295px !important;
background-image: url(images/searchbar.jpg);
color: black;
background-blend-mode: difference;
}
#srch-term1 { margin-right:10px;
 }
 #srch-term2 { margin-right:10px;
 }
 #srch-term3{ margin-right:0px;
    border-style: double;
 }
.btn { margin-left:10px; }
.box{
    display: flex;
    /* background-color:black; */
    padding: 60px 130px;
    margin-top: 70px;
}
.navbar-form{
    width: fit-content;
    height:max-content;
    display: flex;
    flex-direction: row;
}
.input-group-add-on
{
    display: flex;
    margin-left: 120px;
}
nav {
    background-color: rgb(42, 2, 40);
    overflow: hidden;
}
/*.abc{
    font-size:x-large;
    color: rgb(121, 64, 36);
    border: 10px;
    border-color:black;
    border-width: 40px;
    width: 500px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
    }
*/

.abc{
    display: flex;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.akp{
    margin-top: 80px;
    text-align: center;
    font-size:x-large;
    padding: 25px 30px;
    background-color: black;
    color: aqua;
    
}
.whole{
/*     display: inline-block; */
    display:flex;
    flex-wrap:wrap;
    padding-left: 30px;
    
}
.wrapper{
     padding:10px;
}
.req-div{
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
