*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.navbar{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.navbar-links{
    flex: 1;
    text-align: right;
    margin-right: 20px;
}
.navbar-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 20px;;
    
}
.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: roboto;
}


.header {
    background-image: url(images/Your-Dog-Healthy-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.title{
    transition: 0.5s;
}
.title:hover{
    transform: scale(1.5);
}
.logout{
    transition: 0.3s;
    background: #948994;
    border-radius: 100px;
    color: #fff;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .05em;
    cursor: pointer;
    text-align:center;
    padding: 10px;
}
.logout:hover{
    transform: scale(1.2);
}
.container p {
    color: black;
    text-align:center;
    margin: 30px auto;
}

.header p {
    color: white;
    text-align:center;
    margin: 30px auto;
    font-size: 80px;
    margin-top: 470px;
    font-weight: bold;
}
.imgandtext{
    width:550px;
    word-wrap: break-word;
    margin-left: 100px;
}
.question{
    margin-top: 100px;
    font-size: 70px;
    font-family: Roboto;
    line-height: 1.17em;
    color: rgb(5, 129, 127);
    font-weight: bold;
    transition: 0.6s;
}
.question:hover{
    color: rgb(6, 1, 31);
    transform: scale(1.2);
}
.Answer{
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(45, 43, 43);
    word-wrap: break-word;
    line-height: 1.6;
}
.whypets{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img{
    margin-left: 700px;
    margin-top: -380px;
    border-radius: 200px;
    margin-right: 400px;
}
.whattodo{
    margin-left: 370px;
    margin-top: 120px;
    font-size: 70px;
    text-align: center;
    position: absolute;
    font-family: Roboto;
    color: rgb(5, 129, 127);
    font-weight: bold;
    margin-bottom: 30px;
    transition: 0.6s;
}
.whattodo:hover{
    color: rgb(6, 1, 31);
    transform: scale(1.2);
}

.Adopt{
    margin-top: 280px;   
    margin-bottom: 40px;
    margin-right: 500px;
    background: #633f64;
    border-radius: 75px;
    color: #fff;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .05em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-color: none;
    width: 210px;
    height: 60px;
    padding: 10px 15px;
    transition: 0.2s;


    
}
.Sell{
    margin-top: 280px;
    margin-bottom: 40px;
    margin-left: 500px;
    background: #633f64;
    border-radius: 100px;
    color: #fff;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .05em;
    cursor: pointer;
    text-align:center;
    text-decoration:none;
    border-color: none;
    padding: 10px 15px;
    outline: none;
    transition: 0.2s;


}

.buttonhold{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    justify-items:center ;
    float: center;
    /* align-items:stretch; */
}
.Sell:hover{   
    opacity: 0.7;
    transform: scale(0.9);
    }
.Sell:active{  
    opacity: 0.9;
    }
.Adopt:hover{   
        opacity: 0.7;
        transform: scale(0.9);
        }
.Adopt:active{  
        opacity: 0.9;
        }
.imgandtex{
            width:550px;
            word-wrap: break-word;
            margin-left: 220px;
        }
        .img1{
            margin-left: 700px;
            margin-top: -340px;
            border-radius: 600px;
        }   
.footer{
    margin-top: auto;
    background-color: rgb(5, 129, 127);
    color: white;
    text-align: center;
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 16px 16px 0 0;
    font-size: 26px;

}
footer p{
    margin-bottom: 20px;
    margin-top: 20px;
}
.fa{
    color: rgb(208, 208, 208);
    transition: 0.1s;
    text-decoration: none;
    
}
.fa:hover {
    color: rgb(6, 1, 31);
  }

